.payment-wrapper {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 30px;
}

.payment-header {
  border-bottom: 1px solid #d1d5db;
  padding: 20px 32px;
}

.payment-title {
  font-weight: 500;
  font-size: 1.25rem;
  color: #111827;
}

.payment-body {
  padding: 20px 32px;
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.payment-option-label {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  gap: 16px;
}

.payment-input-container {
  position: relative;
}

.payment-hidden-input {
  display: none;
}

.payment-radio {
  display: flex;
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  border: 1px solid #d1d5db;
}

.payment-radio-active {
  border: 4px solid #3b82f6; /* blue */
}

.payment-card {
  border: 0.5px solid #d1d5db;
  border-radius: 6px;
  padding: 14px 20px;
  transition: all 0.2s ease-out;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.payment-card:hover {
  background-color: #f9fafb;
  border-color: transparent;
  box-shadow: none;
}

.payment-card-active {
  background-color: #f9fafb;
  border-color: transparent;
  box-shadow: none;
}

.payment-card-min-width {
  min-width: 240px;
}

.payment-card-inner {
  display: flex;
  align-items: center;
}

.payment-icon {
  padding-right: 10px;
}

.payment-divider {
  border-left: 1px solid #d1d5db;
  padding-left: 10px;
}
