.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cart-item__left {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.cart-item__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f3f4f6; /* gray-3 */
  max-width: 90px;
  width: 100%;
  height: 90px; /* approx 22.5 * 4 px */
  overflow: hidden;
}

.cart-item__image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.cart-item__details {
  display: flex;
  flex-direction: column;
}

.cart-item__title {
  font-weight: 500;
  color: #1f2937; /* text-dark */
  margin-bottom: 4px;
  transition: color 0.2s ease-out;
}

.cart-item__title a:hover {
  color: #3b82f6; /* hover text-blue */
}

.cart-item__price {
  font-size: 0.875rem; /* text-custom-sm */
  color: #4b5563;
}

.cart-item__remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #e5e7eb; /* gray-2 */
  border: 1px solid #f3f4f6; /* gray-3 */
  border-radius: 8px;
  color: #1f2937;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
    color 0.2s ease-out;
}

.cart-item__remove-btn:hover {
  background-color: #fddede; /* red-light-6 */
  border-color: #fca5a5; /* red-light-4 */
  color: #ef4444; /* red */
}

.side-bar-title {
  text-decoration: none;
  color: black;
}
