.custom-select {
  position: relative;
  border: 1px solid #d1d5db;
  border-right: 0 !important;
  font-family: Arial, sans-serif;
  user-select: none;
  z-index: 10;
  height: 37.6px;
  padding: 0.8rem 0.1rem 0.5rem 0.7rem !important;
}

.select-selected {
  color: #606882;
  background-color: #f3f4f6;
  border-right: none;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.select-selected::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: 6px solid transparent;
  border-top-color: #333;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.select-arrow-active::after {
  transform: translateY(-50%) rotate(180deg);
}

.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-top: none;
  /* Remove max-height to prevent scrolling */
  max-height: none;
  overflow-y: visible; /* Allow full height */
  box-shadow: 0 10px 20px rgb(0 0 0 / 0.12);
  border-radius: 0 0 5px 5px;
  font-size: 0.9rem;
  color: #333;
  transition: opacity 0.3s ease;
  margin-top: 1rem;
}

/* .select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: block;
} */

.select-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.select-item:hover {
  position: relative;
  background-color: #f9f9f9;
}

.same-as-selected {
  background-color: #e6f7ff;
  font-weight: bold;
}

.select-hide {
  display: none;
}
